.question-group   {
  margin-bottom:20px;
  background:#EEE;
  padding:20px;
}
.question-group label   {
  font-size:18px;
}

.image {
  width: 40rem;
  height: 40rem;
  margin: 20px auto;
  display: block;
  border: 5px solid RGBA(51, 51, 51, 0.8);
}
