<template name="sendForm">
  <form class="row col-xs-12 sendForm">

    <h2>Choose your friends!</h2>

    {{#each showFriends}}
      {{> friendTempPoll}}
    {{/each}}

      <ul class="row col-xs-12 controlsSend">
        <li class=" col-xs-12">
          <a href="#" class="takePhoto">Take Photo</a>
        </li>
        <img class="photo">
        <li class=" col-xs-12">
          <button type="submit" class="sendToUser btn btn-primary col-xs-12 col-md-6 col-md-push-3"><i class="fa fa-paper-plane"></i> Send</button>
        </li>
      </ul>
  </form>
</template>
